.header {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;

  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
}

.logoDiv {
  display: flex;
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    padding: 1rem 5%;
  }
}

.nav {
  margin-left: auto; 
  display: none;
}

.nav ul {
  background: linear-gradient(90deg, #69360a, #2c1e19);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1rem 0;

  position: absolute;
  top: 10%;
  right: 10%;

  list-style: none;
}

.nav li {
  display: block; 
}

.nav a {
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav a:hover,
.nav a:active {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}

.active {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.showMenu {
  display: block; 
  transition: display 0.3s ease;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.logo {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

@media screen and (min-width:1024px) {
  .nav {
    display: flex;
  }

  .nav ul {
    background: none;
    flex-direction: row;

    position: static;
    top: auto;
    right: auto;
  }
}
